In [6]:
#Comments & Basic Data Types

# This is a comment

print(2)      #INTEGER
print(10.9)   #Float
print(True)   #Boolean
print(False)
print("There's is a snack in my boot") #String
print('test string!')

2
10.9
True
False
There's is a snack in my boot
test string!

In [8]:
# Monday Exercises

print("Kirti Agarwal")
print(type(int))

var1 = 2.6

print(type(var1))

Kirti Agarwal
<class 'type'>
<class 'float'>

In [12]:
#Variables
num1 = 3
num2 = 3.5

print(num1, num2)

#storing a boolean into a variable
switch = True
print(switch)

#storing strings to variable
name = "John"
print(name)

3 3.5
True
John

In [13]:
#using two variables to create another variable

result = num1 + num2
print(result)

6.5

In [15]:
#adding, deleting, multiplying, dividing from a variable
result+=1
print(result)

result-=1
print(result)

result*=2
print(result)

result/=2
print(result)

8.5
7.5
15.0
7.5

In [16]:
#defining a variable and overwriting it's value
name = "Kirti"
print(name)

name = "john"
print(name)

Kirti
john

In [19]:
#TUESDAY EXERCISE

#variable output
x = 3
y = 10
result = x*y
print(x,"+", y ,"=" ,result)


#area calculation
width = 245.54
height = 13.66
result = width * height
print(result)

3 + 10 = 30
3354.0764

In [23]:
#working with and manipulating strings

#String concatination
#using the addition operator without variables
name = "John" + " " +"Smith"
print(name)

#using the addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " +last_name
print(full_name)

John Smith
John Smith

In [27]:
# injecting variables using format methods
name = "john"
print("Hello, {}".format(name))
age = 28
print("Hello {}, you are {} old".format(name, age)) #Replacement Index error if not provided with proper values

Hello, john
Hello john, you are 28 old

In [28]:
#using the new f string
name = "Kirti"
print(f"Hello {name}")

Hello Kirti

In [32]:
#formatting in Python2
name = "Kirti"
print("Hello %s"%name)

first_name = "Kirti"
last_name = "Agarwal"
print("Hello, %s %s"%(first_name, last_name))

Hello Kirti
Hello, Kirti Agarwal

In [34]:
#using indexes to print each element
name = "Kirti"
print(name[0])
print(name[1])
print(name[-1])

K
i
i

In [44]:
#String slicing
name = "Kirti"
print(name[0:2])

print(name[0:5:2])

Ki
Kri

#WEDNESDAY EXERCISE

In [45]:
#Variable Injection
num1 = 23
num2 = 4.5
switch = False
name = "John Smith"

print("{} {} {} {}".format(num1, num2, switch, name))

23 4.5 False John Smith

In [49]:
#Fill in the blanks
#Using the format method, fill in the following blanks by assigning your name and favorite activities into variables:

name = "Kirti"
game_name = "Badminton"
lang_name = "Python"

print("{}'s favorite sports is {}.".format(name, game_name))
print("{} is working on {} programming!".format(name, lang_name))

Kirti's favorite sports is Badminton.
Kirti is working on Python programming!

In [53]:
#using the title method to capitalize first letter of the string
name = "kirti agarwal"
print(name.title())
name = "KIRTI"
print(name.lower())
name = "Kirti"
print(name.upper())

Kirti Agarwal
kirti
KIRTI

In [54]:
#replacing an exclamation with a period
name = "Kirti!"
print(name.replace('!','.'))

Kirti.

In [56]:
#Finding the strting index of our search term
sentence = "Look over the way"
print(sentence.find("over"))
print(sentence.find("test"))
print(sentence.find("y"))

5
-1
16

In [59]:
#removing whitespace with strip
name = " John.   "
print(name.strip())
print(name.rstrip())
print(name.lstrip())

John.
 John.
John.

In [60]:
#converting a string into a list of words
sentence = "I love Python"
print(sentence.split(" "))

['I', 'love', 'Python']

#THURSDAY ECERCISE

In [62]:
#uppercasing
st = "uppercase"
print(st.upper())

UPPERCASE

In [63]:
#strip symbols
st = "$$JohnSmith"
print(st.strip("$"))

JohnSmith

#FRIDAY PROJECT : Creating a receipt printing program/ PRINTING RECEIPT

In [66]:
#create a product and price for 3 items
prod_1, prod_1_price = "Books", 49.95
prod_2, prod_2_price = "Computer", 579.99
prod_3, prod_3_price = "Monitor", 129.89

In [65]:
#Create company name and information
company_name = "learn to code, Inc."
company_address = "Block-A, 123"
company_city = "Bangalore, India"

#declaring message shown to customer

message = "Thanks for shopping with us Today!"

In [128]:
#Creating the top border
print("*" *50)

#print company information first using the variables 
print("*\t\t{}\t\t *".format(company_name))
print("*\t\t{}\t\t\t *".format(company_address))
print("*\t\t{}\t\t *".format(company_city))

#print a line betweeen the sections
print("*" + "=" *48 + "*")

#print out header for section of our items 
print("*\tProduct Name\tProduct Price\t\t *")

#printing product value and price from variables
print("*\t{}\t\t${}\t\t\t *".format(prod_1.title(), prod_1_price))
print("*\t{}\t${}\t\t\t *".format(prod_2.title(), prod_2_price))
print("*\t{}\t\t${}\t\t\t *".format(prod_3.title(), prod_3_price))

#print a line between the sections
print("*" + "=" *48 + "*")

# print out header for section of total
print('*\t\t\tTotal\t\t\t *')

#calculate & print total 
total = prod_1_price+prod_2_price+prod_3_price
print("*\t\t\t${}\t\t\t *".format(total))

#print  line between the sections
print("*" + "=" *48 + "*")

#print customer message
print("*\t\t\t\t\t\t *\n*\t{}\t *".format(message))

#creatinhg the bottom border
print("*"*50)

#Weekly challenges

#printing side border

**************************************************
*		learn to code, Inc.		 *
*		Block-A, 123			 *
*		Bangalore, India		 *
*================================================*
*	Product Name	Product Price		 *
*	Books		$49.95			 *
*	Computer	$579.99			 *
*	Monitor		$129.89			 *
*================================================*
*			Total			 *
*			$759.83			 *
*================================================*
*						 *
*	Thanks for shopping with us Today!	 *
**************************************************

In [103]:
#REverse a string with slice method
name = "Hello"
print(name[::-1])

olleH